@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'valorant';
    src: url(fonte/Valorant\ Font.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*font-family: 'Inter', sans-serif;*/
body{
    font-family: sans-serif;
    background-image: linear-gradient(to left, #07060B, #044040);
}
main{
    width: 1040px;
    margin: auto;
    font-family: 'Inter', sans-serif;
}
.topo{
    background-color: #000000;
    box-shadow: 0px 10px 10px #1413131f;
}
.topo-ajustes{
    padding: 15px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1040px;
    margin: auto;
}
.logo{
    font-family: 'valorant';
    color: #F2F2F2;
    cursor: pointer;
    text-decoration: none;
}
.pesquisa{
    border: none;
    background-color: #ebeff3;
    border-radius: 20px;
    padding: 5px;
}
.colunas{
    display: flex;
}
.usuario-ajustes{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1040px;
    margin: auto;
    margin-top: 25px;
}
.usuario-foto-level-ajustes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usuario-foto-ajustes{
    width: 75px;
    border: 3px solid #252424;
    border-radius: 50%;
}
.usuario-foto-level{
    font-weight: bolder;
    background-color: #1a1919;
    color: #F2F2F2;
    border-radius: 20px;
    align-items: center;
    padding:3px 6px 3px 6px;
    position: absolute;
    margin-top: 60px;
}
.usuario-nick{
    margin-left: 20px;
    font-weight: 700;
    color: #f0f8ff;
    font-family: 'Inter', sans-serif;
}
.estatisticas-elo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 330px;
    height: 300px;
    background-color: #0f0e0e;
    border-radius: 20px;
    margin-top: 25px;
    box-shadow: 5px 5px 10px #00000030;
}
.estatisticas-elo-imagem-ajustes{
    width: 100px;
}
.estatisticas-elo-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}
.estatisticas-elo-texto-h3{
    margin-bottom: 10px;
    color: #f0f8ff;
    font-weight: 700;
}
.estatisticas-elo-texto-p1{
    color: #8e9194;
    margin-bottom: 10px;
    font-weight: 500;
}
.estatisticas-elo-texto-p2{
    color: #C3354B;
    font-weight: 600;
}
.barra-de-carregamento{
    width: 200px;
    height: 5px;
    border-radius: 3px;
    display: flex;
}
.barra-de-v{
    width: 88px;
    height: 5px;
    background-color: #00B8B8;
    border-radius: 3px 0px 0px 3px;
}
.barra-de-d{
    width: 112px;
    height: 5px;
    background-color: #C3354B;
    border-radius: 0px 3px 3px 0px;
}
.estatisticas-geral{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    height: 280px;
    margin-top: 20px;
    background-color: #1a1919;
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    box-shadow: 5px 5px 10px #00000030;
}
.estatisticas-geral strong{
    color: #f0f8ff;
}

.estatisticas-geral-topo{
    text-align: center;
    padding: 15px 112px 15px 112px;
    border-radius:20px 20px 0px 0px ;
    background-color: #111111;
    color: #f0f8ff;
    box-shadow: 5px 5px 5px #11111138;
    margin-bottom: 10px;
}
.estatisticas-geral-kills{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #8e9194;
    width: 290px;
    margin-top: 5px;
    padding: 0px 15px 0px 15px;
    color: #f0f8ff;
}

.estatisticas-geral-mortes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #8e9194;
    width: 290px;
    margin-top: 5px;
    padding: 0px 15px 0px 15px;
    color: #f0f8ff;
}

.estatisticas-geral-assistencias{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #8e9194;
    width: 290px;
    margin-top: 5px;
    padding: 0px 15px 0px 15px;
    color: #f0f8ff;
}

.estatisticas-geral-acs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #8e9194;
    width: 290px;
    margin-top: 5px;
    padding: 0px 15px 0px 15px;
    color: #f0f8ff;
}

.estatisticas-geral-kr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #8e9194;
    width: 290px;
    margin-top: 5px;
    padding: 0px 15px 0px 15px;
    color: #f0f8ff;
}
.estatisticas-geral-fb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #8e9194;
    width: 290px;
    margin-top: 5px;
    padding: 0px 15px 0px 15px;
    color: #f0f8ff;
}
.estatisticas-geral-perfeicao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #8e9194;
    width: 290px;
    margin-top: 5px;
    padding: 0px 15px 0px 15px;
    color: #f0f8ff;
}
.estatisticas-geral-aces{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #8e9194;
    width: 290px;
    margin-top: 5px;
    padding: 0px 15px 0px 15px;
    margin-bottom: 5px;
    color: #f0f8ff;
}
.estatisticas-agente{
    width: 330px;
    height: 350px;
    background-color: #1a1919;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px #00000030;
}
.estatisticas-agente-topo{
    text-align: center;
    padding: 15px 112px 15px 112px;
    border-radius:20px 20px 0px 0px ;
    background-color: #111111;
    color: #f0f8ff;
    box-shadow: 5px 5px 5px #11111138;
    margin-bottom: 10px;
}
.estatisticas-agente-um-ajustes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 7px;
    cursor: pointer;
    height: 70px;
    transition: 0.3s;
}
.estatisticas-agente-um-ajustes:hover{
    background-color: #484849;
    border-radius: 10px;
}
.estatisticas-agente-um-imagem{
    border-radius: 10px;
    width: 50px;
    margin-left: 3px;
}
.estatisticas-agente-um-ajustes strong{
    color: #f0f8ff;
    margin-bottom: 10px;
}
.estatisticas-agente-um-nome{
    text-align: center;
}
.estatisticas-agente-um-nome-p{
    color: #8e9194;
}
.estatisticas-agente-um-dados-p{
    font-weight: 600;
    color: #00B8B8;
}

.estatisticas-agente-dois-ajustes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 7px;
    cursor: pointer;
    height: 70px;
    transition: 0.3s;
}
.estatisticas-agente-dois-ajustes:hover{
    background-color: #484849;
    border-radius: 10px;
}
.estatisticas-agente-dois-imagem{
    border-radius: 10px;
    width: 50px;
    margin-left: 1px;
}
.estatisticas-agente-dois-ajustes strong{
    color: #f0f8ff;
    margin-bottom: 10px;
}
.estatisticas-agente-dois-nome{
    text-align: center;
}
.estatisticas-agente-dois-nome-p{
    color: #8e9194;
}
.estatisticas-agente-dois-dados-p{
    font-weight: 600;
    color: #C3354B;
}
.estatisticas-agente-tres-ajustes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 7px;
    cursor: pointer;
    height: 70px;
    transition: 0.3s;
}
.estatisticas-agente-tres-ajustes:hover{
    background-color: #484849;
    border-radius: 10px;
}
.estatisticas-agente-tres-imagem{
    border-radius: 10px;
    width: 50px;
    margin-left: 2px;
}
.estatisticas-agente-tres-ajustes strong{
    color: #f0f8ff;
    margin-bottom: 10px;
}
.estatisticas-agente-tres-nome{
    text-align: center;
}
.estatisticas-agente-tres-nome-p{
    color: #8e9194;
}
.estatisticas-agente-tres-dados-p{
    font-weight: 600;
    color: #C3354B;
}
.estatisticas-agente-botao{
    margin-left: 25px;
}
.estatisticas-agente-botao-ajustes{
    border: none;
    background-color: #252424;
    color: #8e9194;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    width: 280px;
    height: 40px;
    transition: 0.5s;
    cursor: pointer;
}
.estatisticas-agente-botao-ajustes:hover{
    color: #f0f8ff;
    background-color: #000000;
    
}
.estatisticas-mapas{
    background-color: #1a1919;
    width: 330px;
    height: 675px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #00000030;
}
.estatisticas-mapas-topo{
    text-align: center;
    padding: 15px 112px 15px 112px;
    border-radius:20px 20px 0px 0px ;
    background-color: #111111;
    color: #f0f8ff;
    box-shadow: 5px 5px 5px #11111138;
    margin-bottom: 10px;
}
.estatisticas-mapa-ajustes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    height: 70px;
    cursor: pointer;
    transition: 0.3s;
}
.estatisticas-mapa-ajustes:hover{
    background-color: #484849;   
    border-radius: 8px;
}
.estatisticas-mapa-imagem-ajustes{
    width: 60px;
}
.estatisticas-mapa-imagem{
    border-radius: 10px;
    width: 100%;
}
.estatisticas-mapa-imagem-freacture{
    border-radius: 10px;
    width: 100%;
    margin-left: 4px;
}
.estatisticas-mapa-dados{
    text-align: center;
    font-family: 'Inter', sans-serif; ;
}
.estatisticas-mapa-dados h4{
    color: #f0f8ff;
}
.estatisticas-mapas-porcentagem-w{
    color: #00B8B8;
}
.estatisticas-mapas-porcentagem-l{
    color: #C3354B;
}
.estatisticas-mapas-w{
    color: #00B8B8;
}
.estatisticas-mapas-l{
    color: #C3354B;
}
.estatisticas-mapa-dados p{
    color: #8e9194;
}
.estatisticas-mapas-porcentagem{
    font-size: 0.9rem;
}
.estatisticas-mapas-dados-ad{
    padding-top: 15px;
    font-size: 0.9rem;
    font-weight: bolder;
}
.estatisticas-tiros{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    height: 320px;
    margin-top: 20px;
    background-color: #C3354B;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #00000030;
}
.estatisticas-tiro-topo{
    text-align: center;
    padding: 15px 145px 15px 145px;
    border-radius:20px 20px 0px 0px ;
    background-color: #111111;
    color: #f0f8ff;
    box-shadow: 5px 5px 5px #11111138;
    margin-bottom: 10px;
}
.estatisticas-tiros{
    background-color: #1a1919;
}
.estatisticas-tiro-corpo-ajustes{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;

}
.estatisticas-tiro-corpo-imagem{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.estatisticas-tiro-corpo-imagem-ajustes{
    width: 100px;
    margin-bottom: 5px;
}
.estatisticas-tiro-corpo-dados{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.estatisticas-tiro-corpo-dados-cabeca{
    color: #C3354B;
}
.estatisticas-tiro-corpo-dados-peito{
    color: #00B8B8;
}
.estatisticas-tiro-corpo-dados-perna{
    color: #C3354B;
}
.estatisticas-armas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    height: 905px;
    margin-top: 20px;
    background-color: #1a1919;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px #00000030;
}
.estatisticas-armas-topo{
    text-align: center;
    padding: 15px 135px 15px 135px;
    border-radius:20px 20px 0px 0px ;
    background-color: #111111;
    color: #f0f8ff;
    box-shadow: 5px 5px 5px #11111138;
    margin-bottom: 10px;
}
.arma-todo-ajustes{
    width: 330px;
}
.arma-imagem{
    width: 80px;
}
.arma-imagem-ajustes{
    width: 100%;
}
.arma-todo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    height: 45px;
    cursor: pointer;
    transition: 0.3s;
}
.arma-todo:hover{
    background-color: #484849;
    border-radius: 5px;
}
.arma-nome{
    width: 100px;
    color: #f0f8ff;
}
.arma-dados{
    text-align: right;
    width: 75px;
}
.arma-dados strong{
    color: #f0f8ff;
}
.arma-dados p {
    color: #8e9194;
}

.historico{
    width: 667px;
    height: 2930px;
    background-color: #1a1919;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 25px;
    box-shadow: 5px 5px 10px #00000030;
}
.historico-topo{
    text-align: center;
    padding: 15px 136px 15px 136px;
    border-radius:20px 20px 0px 0px ;
    background-color: #111111;
    color: #f0f8ff;
    box-shadow: 5px 5px 5px #11111138;
    margin-bottom: 10px;
}
.historico-jogo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.historico-jogo-ajustes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 660px;
    height: 110px;
    cursor: pointer;
    transition: 0.3s;
}
.historico-jogo-ajustes:hover{
    background-color: #484849;
    border-radius: 20px;
}
.historico-jogo-imagem-ajustes{
    width: 70px;
    border-radius: 15px;

}
.historico-jogo-mapa{
    color: #f0f8ff;
}
.h-j-p-ta{
    color: #00B8B8;
}
.h-j-p{
    color: #f0f8ff;
}
.h-j-p-ti{
    color: #C3354B;
}
.historico-jogo-kda{
    color: #f0f8ff;
}
.historico-jogo-kda p{
    color: #8e9194;
}
.historico-jogo-ACS{
    color: #f0f8ff;
}
.historico-jogo-ACS p{
    color: #8e9194;
}